{% extends "base.html" %}
{% block title %} Boas vindas {% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <h1> Boas vindas!</h1>
            <p> 
                Este é um site desenvolvido para a disciplina de CSI-02 
                e tem como objetivo por em prática os conhecimentos adquiridos 
                sobre serviços de internet.
            </p>
            <p class="fade-in-text">
                Navegue entre as funcionalidades na barra de navegação superior<span class="blink_me">_</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}